- const tier = {'1': [],'2': [],'3': [],'4': [],'5': []}
- const ranks = [null, 'I', 'II', 'III', 'IV', 'V']
- const currentSummonerRank = summonerRank.rank

each player in league.entries
    - if (player.rank === 'I') tier['1'].push(player)
    - else if (player.rank === 'II') tier['2'].push(player)
    - else if (player.rank === 'III') tier['3'].push(player)
    - else if (player.rank === 'IV') tier['4'].push(player)
    - else tier['5'].push(player)

- tier['1'].sort((a, b) => b.leaguePoints - a.leaguePoints)
- tier['2'].sort((a, b) => b.leaguePoints - a.leaguePoints)
- tier['3'].sort((a, b) => b.leaguePoints - a.leaguePoints)
- tier['4'].sort((a, b) => b.leaguePoints - a.leaguePoints)
- tier['5'].sort((a, b) => b.leaguePoints - a.leaguePoints)

#leagues.row.justify-content-center
    p= JSON.stringify(league)
    .col-12
        ul.nav.nav-pills
            li.nav-item: a.nav-link(class=currentSummonerRank == 'I' ? 'active' : '' data-toggle="pill" href="#tier-1") I
            li.nav-item: a.nav-link(class=currentSummonerRank == 'II' ? 'active' : '' data-toggle="pill" href="#tier-2") II
            li.nav-item: a.nav-link(class=currentSummonerRank == 'III' ? 'active' : '' data-toggle="pill" href="#tier-3") III
            li.nav-item: a.nav-link(class=currentSummonerRank == 'IV' ? 'active' : '' data-toggle="pill" href="#tier-4") IV
            li.nav-item: a.nav-link(class=currentSummonerRank == 'V' ? 'active' : '' data-toggle="pill" href="#tier-5") V

        .tab-content
            - for (let k = 1; k < 6; k++)
                .silent-border.silent-shadow.tab-pane.p-3.mb-3(id=`tier-${k}` class=(currentSummonerRank == `${ranks[k]}`) ? 'active' : '')
                    table.league-table.table.text-center
                        thead
                            tr
                                th(width="53") Rank
                                th(width="200") Summoner
                                th(width="50") LP
                                th Emblems
                                th Win / Loss
                                th Win Ratio
                                th Series
                        tbody
                            - for (let i = 0, x = tier[k].length; i < x; i++) {
                                - tierRank = tier[k]
                                - const winrate = ((tierRank[i].wins / (tierRank[i].wins + tierRank[i].losses)) * 100).toFixed(0)
                                tr
                                    td= i + 1
                                    td.lb-summoner: span= tierRank[i].playerOrTeamName
                                    td= tierRank[i].leaguePoints
                                    td.hot-streak
                                        .d-inline-block
                                            if tierRank[i].hotStreak
                                                i.fas.fa-fire(data-toggle="tooltip" title="Won more then 3 games in a row")
                                        .d-inline-block
                                            if tierRank[i].veteran
                                                i.fa.fa-ribbon(data-toggle="tooltip" title="Played more then 100 games in this league")
                                        .d-inline-block
                                            if tierRank[i].freshBlood
                                                i.fa.fa-angle-double-up(data-toggle="tooltip"  title="Recently joined the league")
                                    td: span= tierRank[i].wins + '/'
                                        span= tierRank[i].losses
                                    td: span(class=winrate > 49 ? 'greenC' : 'colorCC3300')= `${winrate}%`
                                    td(width="130")
                                        if tierRank[i].miniSeries
                                            .series-progress
                                                each game in tierRank[i].miniSeries.progress
                                                    div(class="series-" + game)
                            - }