.msg-wrapper(id=message._id)
    p= message.inTrash
    .pic
        img(src="http://via.placeholder.com/80x80")
    .content
        .msg-header
            .author #[a(href=`/users/${message.author.username}`)= message.author.username]
            .created= moment(message.created).subtract().fromNow()
        .msg-body-wrapper
            .msg-subject Subject: 
                span #{message.subject}
            .msg-body 
                p= message.body
        .msg-controls
            if message.author._id == currentUser._id.toString()
                button.bookmark-msg(data-id=message._id)
                    i.fas.fa-star
                    |  Bookmark
                button.delete-msg(data-id=message._id)
                    i.fas.fa-trash
                    |  Delete
            else
                button.reply-msg(data-id=message.author._id data-username=message.author.username data-toggle="modal" data-target=`#reply-${message.author._id}`)
                    i.fas.fa-reply
                    |  Reply
                button.bookmark-msg(data-id=message._id class=message.inBookmark ? 'active' : '')
                    i.fas.fa-star
                    |  Bookmark
                button.delete-msg(data-id=message._id)
                    i.fas.fa-trash
                    |  Delete
                button.report-msg(data-id=message._id)
                    i.fas.fa-flag
                    |  Report