- const champElo = allChampsStats[0].elo.length > 10 ? 'platplus' : allChampsStats[0].elo.toLowerCase()
#overall-champs
    .row.py-4.main-bg.silent-border.mb-3.shadow
        .league-info.col-md-3.col-sm-12.justify-content-center
            select#overall-table-elo-select
                option(value="platplus" selected=allChampsStats[0].elo.length > 10) Platinum+
                option(value="platinum" selected=allChampsStats[0].elo == 'PLATINUM') Platinum
                option(value="gold" selected=allChampsStats[0].elo == 'GOLD') Gold
                option(value="silver" selected=allChampsStats[0].elo == 'SILVER') Silver
                option(value="bronze" selected=allChampsStats[0].elo == 'BRONZE') Bronze
        .league-info.col-md-9.col-sm-12.justify-content-center.justify-content-md-end.pl-m-3
            span.bold Elo: 
                span.general-color= allChampsStats[0].elo.length > 10 ? 'Platinum+' : allChampsStats[0].elo[0].toUpperCase() + allChampsStats[0].elo.slice(1).toLowerCase()
            span.bold Patch: 
                span.general-color= allChampsStats[0].patch
    table#overall-table.table.silent-border.shadow
        thead
            tr
                th.pl-3 Champion
                th Role
                th Games Played
                th Win Rate
                th Ban Rate
                th Pick Rate
                th Kills
                th Deaths
                th Assists
                th CS
                th Gold
        tbody
            - for (let i = 0, x = allChampsStats.length; i < x; i++) {
                - const role = allChampsStats[i].role.replace('DUO_SUPPORT', 'Support')
                
                tr(data-href=`/statistics/${ids[allChampsStats[i].championId]}?position=${role.toLowerCase()}&elo=${champElo}`)
                    td
                        .d-flex.align-items-center
                            .overall-table-champ-tile.mr-3
                                img(src=`${ddragon}/img/champion/${ids[allChampsStats[i].championId]}.png`)
                            span.ml-2= ids[allChampsStats[i].championId]
                    td= role != 'DUO_CARRY' ? _.capitalize(role) : 'ADC'
                    td= allChampsStats[i].gamesPlayed
                    td=(allChampsStats[i].winRate * 100).toFixed(2) + '%'
                    td=(allChampsStats[i].banRate * 100).toFixed(2) + '%'
                    td=(allChampsStats[i].playRate * 100).toFixed(2) + '%'
                    td= allChampsStats[i].kills.toFixed(2)
                    td= allChampsStats[i].deaths.toFixed(2)
                    td= allChampsStats[i].assists.toFixed(2)
                    td= allChampsStats[i].minionsKilled.toFixed(2)
                    td= ~~allChampsStats[i].goldEarned
            - }

script.
    $('#overall-table tbody tr').click(function() {
        window.location = $(this).data('href');
    });

    $('#overall-table').DataTable({
        "ordering": true,
        "paging":   false,
        "info": false,
    });