- const pos = overallStats[0].positions
- const elo = overallStats[0].elo
#overall-wrapper
    .league-wrapper.row.mb-4
        .league-info.col-md-3.col-sm-12.justify-content-center
            select#overall-league
                option(value="platplus" selected=elo.length > 10) Platinum+
                option(value="platinum" selected=elo == 'PLATINUM') Platinum
                option(value="gold" selected=elo == 'GOLD') Gold
                option(value="silver" selected=elo == 'SILVER') Silver
                option(value="bronze" selected=elo == 'BRONZE') Bronze
        .league-info.col-md-9.justify-content-center.justify-content-md-end.pl-m-3
            span.bold Elo: 
                span.general-color= overallPatch[0].elo.length > 10 ? 'Platinum+' : overallPatch[0].elo[0].toUpperCase() + overallPatch[0].elo.slice(1).toLowerCase()
            span.bold Patch: 
                span.general-color= overallPatch[0].patch
            span.bold Champion Analyzed: 
                span.general-color= overallPatch[0].championCount.toLocaleString()
    .row
        #overall-winrate.col-xl-5.lg-6.col-md-12
            h6.text-center.bold.general-color WIN RATES
            table.table
                thead
                    tr
                        th Role
                        th.text-center.greenC(colspan="2") Highest
                        th.text-center.colorFF0000(colspan="2") Lowest
                tbody
                    tr
                        td.general-color Top
                        td
                            a(href=`/champions/${ids[pos.TOP.winrate.best.championId]}`)
                                div.overall-champ-tile(
                                    style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.TOP.winrate.best.championId]}.png)`)
                                span.t-champ-name= ids[pos.TOP.winrate.best.championId]
                        td
                            span.greenC= (pos.TOP.winrate.best.score * 100).toFixed(2) + '%'
                        td
                            a(href=`/champions/${ids[pos.TOP.winrate.worst.championId]}`)
                                div.overall-champ-tile(
                                    style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.TOP.winrate.worst.championId]}.png)`)
                                span.t-champ-name= ids[pos.TOP.winrate.worst.championId]
                        td
                            span.colorFF0000= (pos.TOP.winrate.worst.score * 100).toFixed(2) + '%'
                    tr
                        td.general-color Jungle
                        td
                            a(href=`/champions/${ids[pos.JUNGLE.winrate.best.championId]}`)
                                div.overall-champ-tile(
                                    style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.JUNGLE.winrate.best.championId]}.png)`)
                                span.t-champ-name= ids[pos.JUNGLE.winrate.best.championId]
                        td
                            span.greenC= (pos.JUNGLE.winrate.best.score * 100).toFixed(2) + '%'
                        td
                            a(href=`/champions/${ids[pos.JUNGLE.winrate.worst.championId]}`)
                                div.overall-champ-tile(
                                    style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.JUNGLE.winrate.worst.championId]}.png)`)
                                span.t-champ-name= ids[pos.JUNGLE.winrate.worst.championId]
                        td
                            span.colorFF0000= (pos.JUNGLE.winrate.worst.score * 100).toFixed(2) + '%'
                    tr
                        td.general-color Middle
                        td
                            a(href=`/champions/${ids[pos.MIDDLE.winrate.best.championId]}`)
                                div.overall-champ-tile(
                                    style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.MIDDLE.winrate.best.championId]}.png)`)
                                span.t-champ-name= ids[pos.MIDDLE.winrate.best.championId]
                        td
                            span.greenC= (pos.MIDDLE.winrate.best.score * 100).toFixed(2) + '%'
                        td
                            a(href=`/champions/${ids[pos.MIDDLE.winrate.worst.championId]}`)
                                div.overall-champ-tile(
                                    style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.MIDDLE.winrate.worst.championId]}.png)`)
                                span.t-champ-name= ids[pos.MIDDLE.winrate.worst.championId]
                        td
                            span.colorFF0000= (pos.MIDDLE.winrate.worst.score * 100).toFixed(2) + '%'
                    tr
                        td.general-color ADC
                        td
                            a(href=`/champions/${ids[pos.DUO_CARRY.winrate.best.championId]}`)
                                div.overall-champ-tile(
                                    style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.DUO_CARRY.winrate.best.championId]}.png)`)
                                span.t-champ-name= ids[pos.DUO_CARRY.winrate.best.championId]
                        td
                            span.greenC= (pos.DUO_CARRY.winrate.best.score * 100).toFixed(2) + '%'
                        td
                            a(href=`/champions/${ids[pos.DUO_CARRY.winrate.worst.championId]}`)
                                div.overall-champ-tile(
                                    style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.DUO_CARRY.winrate.worst.championId]}.png)`)
                                span.t-champ-name= ids[pos.DUO_CARRY.winrate.worst.championId]
                        td
                            span.colorFF0000= (pos.DUO_CARRY.winrate.worst.score * 100).toFixed(2) + '%'
                    tr
                        td.general-color Support
                        td
                            a(href=`/champions/${ids[pos.DUO_SUPPORT.winrate.best.championId]}`)
                                div.overall-champ-tile(
                                    style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.DUO_SUPPORT.winrate.best.championId]}.png)`)
                                span.t-champ-name= ids[pos.DUO_SUPPORT.winrate.best.championId]
                        td
                            span.greenC= (pos.DUO_SUPPORT.winrate.best.score * 100).toFixed(2) + '%'
                        td
                            a(href=`/champions/${ids[pos.DUO_SUPPORT.winrate.worst.championId]}`)
                                div.overall-champ-tile(
                                    style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.DUO_SUPPORT.winrate.worst.championId]}.png)`)
                                span.t-champ-name= ids[pos.DUO_SUPPORT.winrate.worst.championId]
                        td
                            span.colorFF0000= (pos.DUO_SUPPORT.winrate.worst.score * 100).toFixed(2) + '%'

        #overall-perf.col-xl-3.lg-6.col-md-12
            h6.text-center.bold.general-color OVERALL PERFORMANCE
            table.table
                thead
                    tr
                        th Role
                        th.greenC Best
                        th.colorFF0000 Worst
                tbody
                    tr
                        td.general-color Top
                        td
                            a(href=`/champions/${ids[pos.TOP.performanceScore.best.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.TOP.performanceScore.best.championId]}.png)`)
                                    span.t-champ-name= ids[pos.TOP.performanceScore.best.championId]
                        td
                            a(href=`/champions/${ids[pos.TOP.performanceScore.worst.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.TOP.performanceScore.worst.championId]}.png)`)
                                    span.t-champ-name= ids[pos.TOP.performanceScore.worst.championId]
                    tr
                        td.general-color Jungle
                        td
                            a(href=`/champions/${ids[pos.JUNGLE.performanceScore.best.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.JUNGLE.performanceScore.best.championId]}.png)`)
                                    span.t-champ-name= ids[pos.JUNGLE.performanceScore.best.championId]
                        td
                            a(href=`/champions/${ids[pos.JUNGLE.performanceScore.worst.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.JUNGLE.performanceScore.worst.championId]}.png)`)
                                    span.t-champ-name= ids[pos.JUNGLE.performanceScore.worst.championId]
                    tr
                        td.general-color Middle
                        td
                            a(href=`/champions/${ids[pos.MIDDLE.performanceScore.best.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.MIDDLE.performanceScore.best.championId]}.png)`)
                                    span.t-champ-name= ids[pos.MIDDLE.performanceScore.best.championId]
                        td
                            a(href=`/champions/${ids[pos.MIDDLE.performanceScore.worst.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.MIDDLE.performanceScore.worst.championId]}.png)`)
                                    span.t-champ-name= ids[pos.MIDDLE.performanceScore.worst.championId]
                    tr
                        td.general-color ADC
                        td
                            sa(href=`/champions/${ids[pos.DUO_CARRY.performanceScore.best.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.DUO_CARRY.performanceScore.best.championId]}.png)`)
                                    span.t-champ-name= ids[pos.DUO_CARRY.performanceScore.best.championId]
                        td
                            a(href=`/champions/${ids[pos.DUO_CARRY.performanceScore.worst.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.DUO_CARRY.performanceScore.worst.championId]}.png)`)
                                    span.t-champ-name= ids[pos.DUO_CARRY.performanceScore.worst.championId]
                    tr
                        td.general-color Support
                        td
                            a(href=`/champions/${ids[pos.DUO_SUPPORT.performanceScore.best.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.DUO_SUPPORT.performanceScore.best.championId]}.png)`)
                                    span.t-champ-name= ids[pos.DUO_SUPPORT.performanceScore.best.championId]
                        td
                            a(href=`/champions/${ids[pos.DUO_SUPPORT.performanceScore.worst.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.DUO_SUPPORT.performanceScore.worst.championId]}.png)`)
                                    span.t-champ-name= ids[pos.DUO_SUPPORT.performanceScore.worst.championId]

        #overall-score.col-xl-4
            h6.text-center.bold.general-color CHAMPION RANKING CHANGES
            table.table
                thead
                    tr
                        th Role
                        th.greenC Most Improved
                        th.colorFF0000 Least Improved
                tbody
                    tr
                        td.general-color Top
                        td
                            a(href=`/champions/${ids[pos.TOP.performanceDelta.best.championId]}`)
                                div.overall-champ-tile(
                                    style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.TOP.performanceDelta.best.championId]}.png)`)
                                span.t-champ-name.mr-1= ids[pos.TOP.performanceDelta.best.championId]
                            i.fa.fa-arrow-up
                            span.greenC= pos.TOP.performanceDelta.best.score
                        td
                            a(href=`/champions/${ids[pos.TOP.performanceDelta.worst.championId]}`)
                                div.overall-champ-tile(
                                    style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.TOP.performanceDelta.worst.championId]}.png)`)
                                span.t-champ-name.mr-1= ids[pos.TOP.performanceDelta.worst.championId]
                            i.fa.fa-arrow-down
                            span.colorFF0000= pos.TOP.performanceDelta.worst.score
                    tr
                        td.general-color Jungle
                        td
                            a(href=`/champions/${ids[pos.JUNGLE.performanceDelta.best.championId]}`)
                                div.overall-champ-tile(
                                    style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.JUNGLE.performanceDelta.best.championId]}.png)`)
                                span.t-champ-name.mr-1= ids[pos.JUNGLE.performanceDelta.best.championId]
                            i.fa.fa-arrow-up
                            span.greenC= pos.JUNGLE.performanceDelta.best.score
                        td
                            a(href=`/champions/${ids[pos.JUNGLE.performanceDelta.worst.championId]}`)
                                div.overall-champ-tile(
                                    style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.JUNGLE.performanceDelta.worst.championId]}.png)`)
                                span.t-champ-name.mr-1= ids[pos.JUNGLE.performanceDelta.worst.championId]
                            i.fa.fa-arrow-down
                            span.colorFF0000= pos.JUNGLE.performanceDelta.worst.score
                    tr
                        td.general-color Middle
                        td
                            a(href=`/champions/${ids[pos.MIDDLE.performanceDelta.best.championId]}`)
                                div.overall-champ-tile(
                                    style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.MIDDLE.performanceDelta.best.championId]}.png)`)
                                span.t-champ-name.mr-1= ids[pos.MIDDLE.performanceDelta.best.championId]
                            i.fa.fa-arrow-up
                            span.greenC= pos.MIDDLE.performanceDelta.best.score
                        td
                            a(href=`/champions/${ids[pos.MIDDLE.performanceDelta.worst.championId]}`)
                                div.overall-champ-tile(
                                    style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.MIDDLE.performanceDelta.worst.championId]}.png)`)
                                span.t-champ-name.mr-1= ids[pos.MIDDLE.performanceDelta.worst.championId]
                            i.fa.fa-arrow-down
                            span.colorFF0000= pos.MIDDLE.performanceDelta.worst.score
                    tr
                        td.general-color ADC
                        td
                            a(href=`/champions/${ids[pos.DUO_CARRY.performanceDelta.best.championId]}`)
                                div.overall-champ-tile(
                                    style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.DUO_CARRY.performanceDelta.best.championId]}.png)`)
                                span.t-champ-name.mr-1= ids[pos.DUO_CARRY.performanceDelta.best.championId]
                            i.fa.fa-arrow-up
                            span.greenC= pos.DUO_CARRY.performanceDelta.best.score
                        td
                            a(href=`/champions/${ids[pos.DUO_CARRY.performanceDelta.worst.championId]}`)
                                div.overall-champ-tile(
                                    style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.DUO_CARRY.performanceDelta.worst.championId]}.png)`)
                                span.t-champ-name.mr-1= ids[pos.DUO_CARRY.performanceDelta.worst.championId]
                            i.fa.fa-arrow-down
                            span.colorFF0000= pos.DUO_CARRY.performanceDelta.worst.score
                    tr
                        td.general-color Support
                        td
                            a(href=`/champions/${ids[pos.DUO_SUPPORT.performanceDelta.best.championId]}`)
                                div.overall-champ-tile(
                                    style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.DUO_SUPPORT.performanceDelta.best.championId]}.png)`)
                                span.t-champ-name.mr-1= ids[pos.DUO_SUPPORT.performanceDelta.best.championId]
                            i.fa.fa-arrow-up
                            span.greenC= pos.DUO_SUPPORT.performanceDelta.best.score
                        td
                            a(href=`/champions/${ids[pos.DUO_SUPPORT.performanceDelta.worst.championId]}`)
                                div.overall-champ-tile(
                                    style=` background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[pos.DUO_SUPPORT.performanceDelta.worst.championId]}.png)`)
                                span.t-champ-name.mr-1= ids[pos.DUO_SUPPORT.performanceDelta.worst.championId]
                            i.fa.fa-arrow-down
                            span.colorFF0000= pos.DUO_SUPPORT.performanceDelta.worst.score