#overall-champs
    select#overall-table-elo.browser-default.ml-5
        option(value="platplus" selected=allChampsStats[0].elo.length > 10) Platinum+
        option(value="platinum" selected=allChampsStats[0].elo == 'PLATINUM') Platinum
        option(value="gold" selected=allChampsStats[0].elo == 'GOLD') Gold
        option(value="silver" selected=allChampsStats[0].elo == 'SILVER') Silver
        option(value="bronze" selected=allChampsStats[0].elo == 'BRONZE') Bronze
    .overall-table-info
        span.bold.ml-auto.px-5 Elo: 
            span.general-color= allChampsStats[0].elo.length > 10 ? 'Platinum+' : allChampsStats[0].elo[0].toUpperCase() + allChampsStats[0].elo.slice(1).toLowerCase()
        span.bold.px-5 Patch: 
            span.general-color= allChampsStats[0].patch
    table#overall-table.table
        thead
            tr(style="height: 80px;")
                th Champion
                th Role
                th Games Played
                th Win Rate
                th Ban Rate
                th Pick Rate
                th Kills
                th Deaths
                th Assists
                th CS
                th Gold
        tbody
            - for (let i = 0, x = allChampsStats.length; i < x; i++) {
                tr
                    td
                        a.d-flex.align-items-center(href=`/champions/${ids[allChampsStats[i].championId]}`)
                            .overall-table-champ-tile(
                                style=`background-image: url(//ddragon.leagueoflegends.com/cdn/8.7.1/img/champion/${ids[allChampsStats[i].championId]}.png)`)
                            span.bold.ml-2= ids[allChampsStats[i].championId]
                    td= allChampsStats[i].role
                    td= allChampsStats[i].gamesPlayed
                    td=(allChampsStats[i].winRate * 100).toFixed(2) + '%'
                    td=(allChampsStats[i].banRate * 100).toFixed(2) + '%'
                    td=(allChampsStats[i].playRate * 100).toFixed(2) + '%'
                    td= allChampsStats[i].kills.toFixed(2)
                    td= allChampsStats[i].deaths.toFixed(2)
                    td= allChampsStats[i].assists.toFixed(2)
                    td= allChampsStats[i].minionsKilled.toFixed(2)
                    td= ~~allChampsStats[i].goldEarned
            - }

script.
    $('#overall-table').DataTable({
        "searching": false,
        "ordering": true,
        "paging":   false,
        "info": false,
    });