.post-wrapper.main-bg.shadow
    div(id=post._id)
        .post-content-wrapper
            .post-header
                .author Posted by #[a(href=`/users/${post.author.username}`)= post.author.username]
                .created= moment(post.created).subtract().fromNow()
                .actions-toggler
                    button
                        i.fas.fa-ellipsis-v
                    .actions
                        if post.author._id.toString() == currentUser._id
                            button.edit-post
                                i.fas.fa-edit
                                | Edit
                            button.delete-post(data-id=post._id)
                                i.fas.fa-trash
                                | Delete
                        else 
                            button.report-post(data-id=post._id)
                                i.fas.fa-flag
                                | Report
            .post-body
                p #{post.body}
            .post-controls
                .like-post(data-id=post.id)
                    button.like-btn(class=post.likes.some(like => like.from.toString() == currentUser._id) ? 'active' : '')
                        i.fa.fa-heart
                .like-count= post.likeCount
                .comment-toggler
                    button.create-comment-box
                        i.fas.fa-comment
                .comment-count= post.comments.length
                .toggle-comments
                    button Show/Hide Comments
                
            form.comment-form(data-id=post._id)
                textarea(name="commentBody" data-autoresize rows="1" placeholder="Add a comment" required)
                button.btn.bold Comment
        .comments
            each comment in post.comments
                include comment