include partials/head.pug
body(style=`background-image: url(/assets/league/img/bgs/face.jpg);`)
    include partials/nav.pug
    .container
        .league-item-wrapper.d-flex.flex-wrap
            each item in items.data
                if (item.gold.purchasable && item.maps["11"])
                    .league-item(tags=item.tags.join(' '), )
                        a(tabindex="0", href="#", data-toggle="popover", data-trigger="focus", data-html="true", data-title=item.name, 
                        data-content=`<span><img src=/assets/league/img/item/${item.image.full}></span>${item.description}<br><br><div class=cost><span>Cost <yellow>${item.gold.total}</yellow>
                        </span><span>Sell <yellow>${item.gold.sell}</yellow></span></div>`)
                            img.league-item(src=`/assets/league/img/item/${item.image.full}`)
                            
        
    include partials/footer.pug