include partials/head
body
    include partials/nav
    include partials/sidenav
    .container
        //- #sort-items.col-lg-4.col-md-6.col-sm-3
            p.lead Sort By
            label.checkbox-inline
                input(type="checkbox", value="data-price")
                | Price
        .row.mt-5
            #filter-items.col-lg-3.col-md-4
                #item-filter.row
                    #search-filter.md-form.mt-0.mb-3
                        input#item-search.form-control(type="text" placeholder="Search")
                p.lead.pl-4 Filter By
                .filter-option
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="SpellDamage")
                        | Ability Power
                .filter-option
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="Damage")
                        | Attack Damage
                .filter-option
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="Armor")
                        | Armor
                .filter-option
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="SpellBlock")
                        | Magic Resist
                .filter-option
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="Health")
                        | Health
                .filter-option        
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="CriticalStrike")
                        | Critical Strike
                .filter-option
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="LifeSteal")
                        | Life Steal
                .filter-option
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="Tenacity")
                        | Tenacity
                .filter-option
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="OnHit")
                        | On Hit
                .filter-option
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="Trinket")
                        | Trinkets
                .filter-option
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="Vision")
                        | Vision
                .filter-option
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="GoldPer")
                        | Gold Generation
                .filter-option
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="Slow")
                        | Slow Effect
                .filter-option
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="CooldownReduction")
                        | Cooldown Reduction
                .filter-option
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="Aura")
                        | Aura
                .filter-option
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="Active")
                        | Active
                .filter-option
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="Mana")
                        | Mana
                .filter-option
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="MagicPenetration")
                        | Magic Penetration
                .filter-option
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="ArmorPenetration")
                        | Armor Penetration
                .filter-option
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="AttackSpeed")
                        | Attack Speed
                .filter-option
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="ManaRegen")
                        | Mana Regen
                .filter-option
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="HealthRegen")
                        | Health Regen
                .filter-option
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="Boots")
                        | Boots
                .filter-option
                    label.checkbox-inline.mr-3
                        input(type="checkbox", value="NonbootsMovement")
                        | Movement Speed
            
            .col-lg-9.col-md-8
                .league-item-wrapper.d-flex.flex-wrap
                    each item in items.data
                        .league-item(tags=item.tags.join(' '), data-price=item.gold.total, data-title=item.name.toLowerCase(), data-colloq=item.colloq)
                            a(tabindex="0", href="#", data-toggle="popover", data-trigger="manual", data-html="true", data-title=item.name, 
                            data-content=`<span><img src=/assets/league/img/item/${item.image.full}></span>${item.description}<br><br>
                            <div class=cost><span>Cost <yellow>${item.gold.total}</yellow>
                            </span><span>Sell <yellow>${item.gold.sell}</yellow></span></div>`)
                                .league-item(style=`background: url(//ddragon.leagueoflegends.com/cdn/8.9.1/img/sprite/${item.image.sprite}) -${item.image.x}px -${item.image.y}px no-repeat`)
        
        include partials/footer