include partials/head
body
    include partials/nav
    include partials/sidenav
    .container
        #legends-list
            each legend in usersList
                if (legend._id != currentUser._id)
                    .legend-wrapper
                        div(id=legend._id)
                            a(href=`/profile/${legend.username}`): h3= legend.username
                            img(src=legend.profilePicture)
                            if (pendingRequests.includes(legend._id.toString()))
                                button.btn.btn-success.accept-friend-request(data-id=legend._id) Accept
                                button.btn.btn-danger.decline-friend-request(data-id=legend._id) Decline
                            else if (sentRequests.includes(legend._id.toString()))
                                button.btn.btn-warning Pending
                                button.btn.btn-warning.cancel-friend-request(data-id=legend._id) cancle
                            else if (friends.includes(legend._id.toString()))
                                button.btn.btn-success Friends
                            else 
                                button.btn.btn-success.send-friend-request(data-id=legend._id) Add
        
        include partials/footer