include partials/head
body
    include partials/nav
    include partials/sidenav
    .container
        button.btn.btn-primary Send Message
        h1.text-center= user.username
        h1.text-center= user.profileViews

        each post in user.posts
            div(id=post.id).post-wrapper
                
                p= post.body
                a(href="javascript:void(0)", data-id=post.id).like-post= post.likes
                br
                a(href="javascript:void(0)", data-id=post.id).share-post= post.shares

    include partials/footer