include partials/head
body
    include partials/nav
    include partials/sidenav
    .container
        p= currentUser._id

        form.message-form.ui.form(method='POST' data-id=user._id)
            .field
                label Subject
                input(type="text", name="subject")
            .field
                label Message
                textarea(rows="4", name="message")
            button.ui.submit.button Send Message


        h1.text-center= user.username
        h1.text-center= user.profileViews

        each post in user.posts
            div(id=post.id).post-wrapper.text-center
                
                p= post.body
                button.btn.btn-primary(data-id=post.id) Comment
                a.btn.btn-warning(href="javascript:void(0)", data-id=post.id).like-post= post.likeCount
                br
                a(href="javascript:void(0)", data-id=post.id).share-post= post.shares
                each comment in post.comments
                    .comment-wrapper(data-id=comment._id)
                        h6= comment.from._id
                        h6= comment.from.username
                        span= moment(comment.created).subtract().fromNow()
                        p=comment.body
                        if comment.from._id.toString() == currentUser._id
                            button.delete-comment.btn.btn-danger(data-id=comment._id) Delete
                
                .add-comment
                    form.comment-form(method="POST", action="/comment", data-id=post.id)
                        .form-group
                            textarea.form-control.rounded-0(name="commentBody", rows="5", required)
                        button.btn.btn-sm.btn-success Comment
    include partials/footer
    include partials/scroll_top
    include partials/scripts