include partials/head
    
body
    include partials/nav
    include partials/sidenav
    .container
        #profile-wrapper.pt-5
            .row
                .col-lg-3.col-md-4.mb-5.mb-md-0
                    include partials/profile_nav
                #profile-content.col-md-8.offset-lg-1.col-sm-12
                    .profile-post-wrapper.mb-4
                        form(method="POST", action="/post")
                            .form-group.silent-shadow
                                textarea.form-control.rounded-0.mb-3(name="postBody" data-autoresize placeholder="Post something nice ..." rows="5" required)
                            button.btn.bold Post
                    #posts
                        each post in currentUser.posts
                            include partials/post
                #friend-requests.col-2.pt-5
                    each request in currentUser.friendRequests
                        .requester.profile-friend-request.text-center(id=request.requester)
                            a.bold.d-block(href=`/users/${request.username}`)= request.username
                            .ui.image
                                img(src=request.profilePicture)
                            .ui.buttons
                                button.ui.tiny.basic.red.button.decline-friend-request(data-id=request.requester) Decline
                                button.ui.tiny.basic.green.button.accept-friend-request(data-id=request.requester) Accept
        #suhdude
            button.btn.btn-success(onclick="successAlert('Upload complete', 'topRight', 'fa fa-check')")
            button.btn.btn-success(onclick="errorAlert('Something went wrong :/ Please try again.', 'center')")
    include partials/footer
    include partials/scroll_top
    include partials/scripts