include partials/head
body(style=`background-image: url(/assets/league/img/bgs/face.jpg);`)
    include partials/nav
    - const pos = overallStats[0].positions
    .container
        #overall-wrapper.row
            #overall-winrate.col-lg-4.col-md-12.col-sm-12
                h6.text-center.bold.general-color WIN RATES
                table.table
                    thead
                        tr
                            th.pb-2 Role
                            th.text-center.pb-2.greenC(colspan="2") Highest
                            th.text-center.pb-2.colorFF0000(colspan="2") Lowest
                    tbody
                        tr
                            td.general-color Top
                            td
                                a(href=`/champions/${ids[pos.TOP.winrate.best.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.TOP.winrate.best.championId]}.png)`)
                                    span.t-champ-name.mr-3= ids[pos.TOP.winrate.best.championId]
                            td
                                span.greenC= (pos.TOP.winrate.best.score * 100).toFixed(2) + '%'
                            td
                                a(href=`/champions/${ids[pos.TOP.winrate.worst.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.TOP.winrate.worst.championId]}.png)`)
                                    span.t-champ-name.mr-3= ids[pos.TOP.winrate.worst.championId]
                            td
                                span.colorFF0000= (pos.TOP.winrate.worst.score * 100).toFixed(2) + '%'
                        tr
                            td.general-color Jungle
                            td
                                a(href=`/champions/${ids[pos.JUNGLE.winrate.best.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.JUNGLE.winrate.best.championId]}.png)`)
                                    span.t-champ-name.mr-3= ids[pos.JUNGLE.winrate.best.championId]
                            td
                                span.greenC= (pos.JUNGLE.winrate.best.score * 100).toFixed(2) + '%'
                            td
                                a(href=`/champions/${ids[pos.JUNGLE.winrate.worst.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.JUNGLE.winrate.worst.championId]}.png)`)
                                    span.t-champ-name.mr-3= ids[pos.JUNGLE.winrate.worst.championId]
                            td
                                span.colorFF0000= (pos.JUNGLE.winrate.worst.score * 100).toFixed(2) + '%'
                        tr
                            td.general-color Middle
                            td
                                a(href=`/champions/${ids[pos.MIDDLE.winrate.best.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.MIDDLE.winrate.best.championId]}.png)`)
                                    span.t-champ-name.mr-3= ids[pos.MIDDLE.winrate.best.championId]
                            td
                                span.greenC= (pos.MIDDLE.winrate.best.score * 100).toFixed(2) + '%'
                            td
                                a(href=`/champions/${ids[pos.MIDDLE.winrate.worst.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.MIDDLE.winrate.worst.championId]}.png)`)
                                    span.t-champ-name.mr-3= ids[pos.MIDDLE.winrate.worst.championId]
                            td
                                span.colorFF0000= (pos.MIDDLE.winrate.worst.score * 100).toFixed(2) + '%'
                        tr
                            td.general-color ADC
                            td
                                a(href=`/champions/${ids[pos.DUO_CARRY.winrate.best.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.DUO_CARRY.winrate.best.championId]}.png)`)
                                    span.t-champ-name.mr-3= ids[pos.DUO_CARRY.winrate.best.championId]
                            td
                                span.greenC= (pos.DUO_CARRY.winrate.best.score * 100).toFixed(2) + '%'
                            td
                                a(href=`/champions/${ids[pos.DUO_CARRY.winrate.worst.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.DUO_CARRY.winrate.worst.championId]}.png)`)
                                    span.t-champ-name.mr-3= ids[pos.DUO_CARRY.winrate.worst.championId]
                            td
                                span.colorFF0000= (pos.DUO_CARRY.winrate.worst.score * 100).toFixed(2) + '%'
                        tr
                            td.general-color Support
                            td
                                a(href=`/champions/${ids[pos.DUO_SUPPORT.winrate.best.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.DUO_SUPPORT.winrate.best.championId]}.png)`)
                                    span.t-champ-name.mr-3= ids[pos.DUO_SUPPORT.winrate.best.championId]
                            td
                                span.greenC= (pos.DUO_SUPPORT.winrate.best.score * 100).toFixed(2) + '%'
                            td
                                a(href=`/champions/${ids[pos.DUO_SUPPORT.winrate.worst.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.DUO_SUPPORT.winrate.worst.championId]}.png)`)
                                    span.t-champ-name.mr-3= ids[pos.DUO_SUPPORT.winrate.worst.championId]
                            td
                                span.colorFF0000= (pos.DUO_SUPPORT.winrate.worst.score * 100).toFixed(2) + '%'

            #overall-perf.col-lg-4.col-md-12.col-sm-12
                h6.text-center.bold.general-color OVERALL PERFORMANCE
                table.table
                    thead
                        tr
                            th.pb-2 Role
                            th.pb-2.pl-3.greenC Best
                            th.pb-2.pl-3.colorFF0000 Worst
                    tbody
                        tr
                            td.general-color Top
                            td
                                a(href=`/champions/${ids[pos.TOP.performanceScore.best.championId]}`)
                                        div.overall-champ-tile(
                                            style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.TOP.performanceScore.best.championId]}.png)`)
                                        span.t-champ-name.mr-3= ids[pos.TOP.performanceScore.best.championId]
                            td
                                a(href=`/champions/${ids[pos.TOP.performanceScore.worst.championId]}`)
                                        div.overall-champ-tile(
                                            style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.TOP.performanceScore.worst.championId]}.png)`)
                                        span.t-champ-name.mr-3= ids[pos.TOP.performanceScore.worst.championId]
                        tr
                            td.general-color Jungle
                            td
                                a(href=`/champions/${ids[pos.JUNGLE.performanceScore.best.championId]}`)
                                        div.overall-champ-tile(
                                            style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.JUNGLE.performanceScore.best.championId]}.png)`)
                                        span.t-champ-name.mr-3= ids[pos.JUNGLE.performanceScore.best.championId]
                            td
                                a(href=`/champions/${ids[pos.JUNGLE.performanceScore.worst.championId]}`)
                                        div.overall-champ-tile(
                                            style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.JUNGLE.performanceScore.worst.championId]}.png)`)
                                        span.t-champ-name.mr-3= ids[pos.JUNGLE.performanceScore.worst.championId]
                        tr
                            td.general-color Middle
                            td
                                a(href=`/champions/${ids[pos.MIDDLE.performanceScore.best.championId]}`)
                                        div.overall-champ-tile(
                                            style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.MIDDLE.performanceScore.best.championId]}.png)`)
                                        span.t-champ-name.mr-3= ids[pos.MIDDLE.performanceScore.best.championId]
                            td
                                a(href=`/champions/${ids[pos.MIDDLE.performanceScore.worst.championId]}`)
                                        div.overall-champ-tile(
                                            style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.MIDDLE.performanceScore.worst.championId]}.png)`)
                                        span.t-champ-name.mr-3= ids[pos.MIDDLE.performanceScore.worst.championId]
                        tr
                            td.general-color ADC
                            td
                                sa(href=`/champions/${ids[pos.DUO_CARRY.performanceScore.best.championId]}`)
                                        div.overall-champ-tile(
                                            style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.DUO_CARRY.performanceScore.best.championId]}.png)`)
                                        span.t-champ-name.mr-3= ids[pos.DUO_CARRY.performanceScore.best.championId]
                            td
                                a(href=`/champions/${ids[pos.DUO_CARRY.performanceScore.worst.championId]}`)
                                        div.overall-champ-tile(
                                            style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.DUO_CARRY.performanceScore.worst.championId]}.png)`)
                                        span.t-champ-name.mr-3= ids[pos.DUO_CARRY.performanceScore.worst.championId]
                        tr
                            td.general-color Support
                            td
                                a(href=`/champions/${ids[pos.DUO_SUPPORT.performanceScore.best.championId]}`)
                                        div.overall-champ-tile(
                                            style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.DUO_SUPPORT.performanceScore.best.championId]}.png)`)
                                        span.t-champ-name.mr-3= ids[pos.DUO_SUPPORT.performanceScore.best.championId]
                            td
                                a(href=`/champions/${ids[pos.DUO_SUPPORT.performanceScore.worst.championId]}`)
                                        div.overall-champ-tile(
                                            style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.DUO_SUPPORT.performanceScore.worst.championId]}.png)`)
                                        span.t-champ-name.mr-3= ids[pos.DUO_SUPPORT.performanceScore.worst.championId]

            #overall-score.col-lg-4.col-md-12.col-sm-12
                h6.text-center.bold.general-color CHAMPION RANKING CHANGES
                table.table
                    thead
                        tr
                            th.pb-2 Role
                            th.pb-2.pl-3.greenC Most Improved
                            th.colorFF0000.pb-2.pl-3 Least Improved
                    tbody
                        tr
                            td.general-color Top
                            td
                                a(href=`/champions/${ids[pos.TOP.performanceDelta.best.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.TOP.performanceDelta.best.championId]}.png)`)
                                    span.t-champ-name.mr-1= ids[pos.TOP.performanceDelta.best.championId]
                                i.fa.fa-arrow-up
                                span.greenC= pos.TOP.performanceDelta.best.score
                            td
                                a(href=`/champions/${ids[pos.TOP.performanceDelta.worst.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.TOP.performanceDelta.worst.championId]}.png)`)
                                    span.t-champ-name.mr-1= ids[pos.TOP.performanceDelta.worst.championId]
                                i.fa.fa-arrow-down
                                span.colorFF0000= pos.TOP.performanceDelta.worst.score
                        tr
                            td.general-color Jungle
                            td
                                a(href=`/champions/${ids[pos.JUNGLE.performanceDelta.best.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.JUNGLE.performanceDelta.best.championId]}.png)`)
                                    span.t-champ-name.mr-1= ids[pos.JUNGLE.performanceDelta.best.championId]
                                i.fa.fa-arrow-up
                                span.greenC= pos.JUNGLE.performanceDelta.best.score
                            td
                                a(href=`/champions/${ids[pos.JUNGLE.performanceDelta.worst.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.JUNGLE.performanceDelta.worst.championId]}.png)`)
                                    span.t-champ-name.mr-1= ids[pos.JUNGLE.performanceDelta.worst.championId]
                                i.fa.fa-arrow-down
                                span.colorFF0000= pos.JUNGLE.performanceDelta.worst.score
                        tr
                            td.general-color Middle
                            td
                                a(href=`/champions/${ids[pos.MIDDLE.performanceDelta.best.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.MIDDLE.performanceDelta.best.championId]}.png)`)
                                    span.t-champ-name.mr-1= ids[pos.MIDDLE.performanceDelta.best.championId]
                                i.fa.fa-arrow-up
                                span.greenC= pos.MIDDLE.performanceDelta.best.score
                            td
                                a(href=`/champions/${ids[pos.MIDDLE.performanceDelta.worst.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.MIDDLE.performanceDelta.worst.championId]}.png)`)
                                    span.t-champ-name.mr-1= ids[pos.MIDDLE.performanceDelta.worst.championId]
                                i.fa.fa-arrow-down
                                span.colorFF0000= pos.MIDDLE.performanceDelta.worst.score
                        tr
                            td.general-color ADC
                            td
                                a(href=`/champions/${ids[pos.DUO_CARRY.performanceDelta.best.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.DUO_CARRY.performanceDelta.best.championId]}.png)`)
                                    span.t-champ-name.mr-1= ids[pos.DUO_CARRY.performanceDelta.best.championId]
                                i.fa.fa-arrow-up
                                span.greenC= pos.DUO_CARRY.performanceDelta.best.score
                            td
                                a(href=`/champions/${ids[pos.DUO_CARRY.performanceDelta.worst.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.DUO_CARRY.performanceDelta.worst.championId]}.png)`)
                                    span.t-champ-name.mr-1= ids[pos.DUO_CARRY.performanceDelta.worst.championId]
                                i.fa.fa-arrow-down
                                span.colorFF0000= pos.DUO_CARRY.performanceDelta.worst.score
                        tr
                            td.general-color Support
                            td
                                a(href=`/champions/${ids[pos.DUO_SUPPORT.performanceDelta.best.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.DUO_SUPPORT.performanceDelta.best.championId]}.png)`)
                                    span.t-champ-name.mr-1= ids[pos.DUO_SUPPORT.performanceDelta.best.championId]
                                i.fa.fa-arrow-up
                                span.greenC= pos.DUO_SUPPORT.performanceDelta.best.score
                            td
                                a(href=`/champions/${ids[pos.DUO_SUPPORT.performanceDelta.worst.championId]}`)
                                    div.overall-champ-tile(
                                        style=` background-image: url(/assets/league/img/champion-base-tile/${ids[pos.DUO_SUPPORT.performanceDelta.worst.championId]}.png)`)
                                    span.t-champ-name.mr-1= ids[pos.DUO_SUPPORT.performanceDelta.worst.championId]
                                i.fa.fa-arrow-down
                                span.colorFF0000= pos.DUO_SUPPORT.performanceDelta.worst.score
                        
        include partials/footer