include partials/head
body
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.min.js")
    include partials/nav
    .container
        p= JSON.stringify(match)
        if match
            include partials/match
        if league
            include partials/league
        .profile-wrapper
            header
                h1.text-center= summoner.name

            main#summoner-main
                h3.text-center= summoner.summonerLevel

                if (league && typeof league[0] != 'undefined')
                    img.league-icon(src=`/assets/league/img/tier_icons/${league[0].tier}${league[0].rank}.png`)
                else
                    img.league-icon(src="/assets/league/img/base_rank_icons/PROVISIONAL.png")
                
                img.profile-icon(
                    src=`//ddragon.leagueoflegends.com/cdn/8.7.1/img/profileicon/${summoner.profileIconId}.png`
                    width="80", height="80")

                    
    include partials/footer