include partials/head
body
    - summonerRank = summonerRank[0]
    include partials/nav
    include partials/sidenav
    .container
        p= JSON.stringify(match)
        if match
            include partials/match
        if league
            include partials/league

        main#summoner-main
            .row
                .col-4
                    if (summonerRank && typeof summonerRank != 'undefined')
                        img.league-icon(src=`/assets/league/img/tier_icons/${summonerRank.tier}${summonerRank.rank}.png`)
                    else
                        img.league-icon(src="/assets/league/img/base_rank_icons/PROVISIONAL.png")
                    img.profile-icon(
                        src=`//ddragon.leagueoflegends.com/cdn/8.8.2/img/profileicon/${summoner.profileIconId}.png`
                        width="80", height="80")
                    h3.prof-name= summoner.name
                    span.level=summoner.summonerLevel
                    span.league-name=summonerRank.leagueName
                    span.tier=summonerRank.tier
                    span.rank=summonerRank.rank
                    span.leaguePoints=summonerRank.leaguePoints
                    span= JSON.stringify(summonerRank)
                    
                    
                    

                    
    include partials/footer