include partials/head
body
    include partials/nav
    include partials/sidenav
    .container.pt-5
        #summoner-main
            .row
                .col-lg-4
                    #summoner-wrapper.main-bg.silent-shadow.mb-5.mb-lg-0
                        .profile-header
                            .profile-icon
                                img(src=`${ddragon}/img/profileicon/${summoner.profileIconId}.png`)
                            h1.summoner-name.text-center.ml-1= summoner.name
                            h4.level= 'level ' + summoner.summonerLevel
                        .summoner-league-info
                            if (summonerRank && typeof summonerRank !== undefined)
                                script.
                                    const summonerRank = !{JSON.stringify(summonerRank.rank)};
                                .league-icon
                                    img(src=`/assets/league/img/tier_icons/${summonerRank.tier}${summonerRank.rank}.png`)
                                .league-data
                                    - const winRatio = (summonerRank.wins / (summonerRank.wins + summonerRank.losses) * 100).toFixed(0)
                                    h6.rank= `${_.capitalize(summonerRank.tier)} ${summonerRank.rank}`
                                    if summonerRank.miniSeries
                                        .series-progress 
                                            span.d-inline-block.mr-2 Series
                                            each game in summonerRank.miniSeries.progress
                                                div(class="series-" + game)
                                    span.leaguePoints= `${summonerRank.leaguePoints} LP`
                                    span= `${summonerRank.wins}W / ${summonerRank.losses}L`
                                    span= `Win Ratio ${winRatio}%`
                                    span= summonerRank.leagueName
                            else
                                .league-icon
                                    img(src="/assets/league/img/base_rank_icons/PROVISIONAL.png")
                                .league-data
                                    h6 Unranked
                .col-lg-8
                    nav#summoner-nav
                        .nav.nav-tabs(role="tablist")
                            a#nav-games-tab.nav-item.nav-link.active(
                                data-toggle="tab" href="#nav-games" role="tab" aria-controls="nav-games" aria-selected="true") Games
                            a#nav-league-tab.nav-item.nav-link(data-league-id=summonerRank ? summonerRank.leagueId : '' data-region=region
                                data-toggle="tab" href="#nav-league" role="tab" aria-controls="nav-league" aria-selected="false") League
                            a#nav-match-tab.nav-item.nav-link(data-region=region data-id=summoner.id
                                data-toggle="tab" href="#nav-match" role="tab" aria-controls="nav-match" aria-selected="false") Match
                    .tab-content
                        #nav-games.tab-pane.active(role="tabpanel" aria-labelledby="nav-games-tab")
                            include partials/recent_games
                        #nav-league.tab-pane(role="tabpanel" aria-labelledby="nav-league-tab")
                        #nav-match.tab-pane.main-bg.silent-shadow(role="tabpanel" aria-labelledby="nav-match-tab")
    include partials/footer
    include partials/scroll_top
    include partials/scripts
    script.
        const summonerId = !{JSON.stringify(summoner.id)}
        const region = !{JSON.stringify(region)}
        $.ajax(`/match/isActive/${summonerId}_${region}`, {
            success: res => res ? $('#nav-match-tab').addClass('ingame animate') : ''
        });
    script.
        const summonerName = `${!{JSON.stringify(summoner.name)}}=${!{JSON.stringify(region)}}`;
        const _hist = Cookies.getJSON('_hist') || [];
        if (!_hist.includes(summonerName)) _hist.unshift(summonerName);
        if (_hist.length > 8) _hist.pop();
        Cookies.set('_hist', _hist);