include partials/head
body
    include partials/nav
    include partials/sidenav
    .container
        #profile-wrapper
            .row
                .col-xl-2.col-lg-3.col-md-5.col-sm-12.pt-5
                    .ui.card
                        .image
                            img(src=user.profilePicture)
                        .content
                            a.header= user.username
                            .meta
                                span Asaf Aviv
                            .meta
                                p Owner of Legends
                            .description
                                p Asaf is the creator of this site
                    #profile-menu(style="max-width: 290px;")
                        .ui.vertical.menu
                            a.item(href=`/users/${user.username}/photos`) Photos
                                i.images.outline.icon
                            a.send-message.item(href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal") Send a Message
                                i.envelope.outline.icon

                #profile-content.col-md-7.offset-lg-1.col-sm-12.pt-5
                    #posts
                        each post in user.posts
                            .post-wrapper.mb-4
                                .ui.raised.segment
                                    div(id=post._id)
                                        .post-body.p-2
                                            p= post.body
                                        .post-controls.d-flex.align-items-center.p-2
                                            .ui.labeled.button.like-post(data-id=post.id)
                                                button.ui.tiny.button(class=post.likes.some(like => like._id.toString() == user._id) ? 'red' : '')
                                                    i.heart.icon
                                                    | Likes
                                                .like-count.ui.basic.violet.left.pointing.label= post.likeCount
                                            .post-buttons.ml-auto
                                                button.ui.tiny.blue.button(href="/post/edit/"+post._id) Edit
                                                button.ui.tiny.red.button.delete-post(data-id=post._id) Delete
                                    if post.comments.length > 0
                                        .ui.threaded.comments
                                            h3.ui.dividing.header Comments
                                            each comment in post.comments
                                                .comment(data-id=comment._id)
                                                    a.avatar: img(src=user.profilePicture)
                                                    .content
                                                        a.author(href=`/profile/${comment.from.username}`)= comment.from.username
                                                        .metadata
                                                            span.date= moment(comment.created).subtract().fromNow()
                                                        .text= comment.body
                                                        .actions 
                                                            a.reply(data-id=comment._id) Reply
                                                            a.report(data-id=comment._id) Report
                                                        if comment.from._id.toString() == user._id
                                                            button.delete-comment.btn.btn-danger(data-id=comment._id) Delete
    
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            .modal-body
                form#message-form(method='POST' data-id=user._id)
                    input.form-control(type="hidden", name="from" value=currentUser._id)
                    .form-group
                        label.col-form-label Recipient:
                        input.form-control(type="text", value=user.username disabled) 
                        input.form-control(type="hidden", name="to" value=user._id)
                    .form-group
                        label.col-form-label Subject
                        input.form-control(type="text", name="subject")
                    
                    .form-group.mb-2
                        <label for="message-text" class="col-form-label">Message:</label>
                        textarea.form-control(name="body" rows="4")
                    .modal-footer
                        button.ui.blue.button(data-dismiss="modal") Close
                        button.ui.violet.button(type="submit" data-id=user._id) Send message
        </div>
    </div>
    include partials/footer